@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 3em;
    font-weight: 500;
}

#numberValue {
    padding: 5px;
    border-radius: 5px;
    border-color: white;
    position: relative;
}

button {
    padding: 7px;
    border: none;
    background-color: #a2a2cd;
    color: white;
}

button:hover {
    padding: 7px;
    border: none;
    background-color: #838386;
    color: white;
    cursor: pointer;
}

h3 {
    padding-top: 2vh;
}


p{
    font-size: 15px;
    color: #838386;
}

.block {
    text-align: center;
    color: white;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.intrBlock {

    margin: auto;
    border-radius: 20px 20px 0 0;
width: 550px;
height: 260px;
left: 0px;
top: 0px;

background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
position: relative;
}

.resultsBlock {
    margin: auto;
    border-radius: 0 0 20px 20px;
    background-color: #a2a2cd;
width: 550px;
height: 350px;
left: 89px;
top: 718px;

background: #1F2937;
}

@media screen and (max-width: 900px) {
    .resultsBlock, .intrBlock {
        width: 80vw;
    }
}